body{
    
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}
header{
    background-color: rosybrown;
}
footer{
    margin:0;
    padding: 0;
    background-color: rosybrown;
}


#search_bar{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.city_image{
    /* display: flex; */
    height: 150px;
    width: 150px;
    /* padding: 4% 0%; */
    /* justify-content:space-evenly; */
    border-radius: 25%;
    
}
#city_card{
   /* text-align: center;
    margin-left: 15%;
    margin-right:15%; */
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0%;
}
.image_dimensions{
    height: 150px;
    width: 150px;
    border-radius: 25%;
}
.social_icons{
    height: 20px;
     width: 22px;
}