body{
    margin: 0px;
    padding: 0px;
}
#container{
    margin: 0px;
    padding: 0px;
}
#image_logo{
    height: 60px;
    width: 60px;
}
#image_hotel{
    height: 500px;
    width: 500px;
}
.social_image{
    height: 20px;
    width: 22px;;
}

.hotel{
    background-color: rgb(132,136,139);
    height: 20%;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.hotel1{
    margin: 2%;
}
.hotel2{
    margin: 2%;
    border: 1px solid black;
    padding: 1% 2%;
    border-radius: 5px;
}